.classpath
.project
.settings
.idea
*.iml
*.ipr
*.iws
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/sources/payment-hub/target
.DS_Store
/build
/captures
.externalNativeBuild
*.class
*.jar
*.war
*.ear
.gradle
build
*.DS_Store
.DS_Store
catalina.base_IS_UNDEFINED/